<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CRM: Список партнеров и скидок</title>

    <link rel="icon" type="image/x-icon" href="../static/resources/favicon.png">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <header class="app-header">
        <img src="../static/resources/logo.png" alt="Логотип компании" class="app-logo">
        <h1 class="app-title">CRM: Список партнеров и скидок</h1>
    </header>

    <main class="partners-wrapper">
    <div class="partners-container" id="partnersContainer">
        <div class="partner-card">
            <div class="partner-card__top">
                <span class="partner-card__title">Тип | Наименование партнера</span>
                <span class="partner-card__discount">10%</span>
            </div>
            <p class="partner-card__info">Директор</p>
            <p class="partner-card__info">+7 223 322 22 32</p>
            <p class="partner-card__info">Рейтинг: 10</p>
        </div>
        <div class="partner-card">
            <div class="partner-card__top">
                <span class="partner-card__title">Тип | Наименование партнера</span>
                <span class="partner-card__discount">10%</span>
            </div>
            <p class="partner-card__info">Директор</p>
            <p class="partner-card__info">+7 223 322 22 32</p>
            <p class="partner-card__info">Рейтинг: 10</p>
        </div>
        <div class="partner-card">
            <div class="partner-card__top">
                <span class="partner-card__title">Тип | Наименование партнера</span>
                <span class="partner-card__discount">10%</span>
            </div>
            <p class="partner-card__info">Директор</p>
            <p class="partner-card__info">+7 223 322 22 32</p>
            <p class="partner-card__info">Рейтинг: 10</p>
        </div>
    </div>
</main>

    <script src="../static/app.js"></script>
</body>
</html>